.game {
  padding: 0 40px 30px;
  display: flex;
  flex-direction: column;
  background-color: $lighter;
  gap: 40px;
  height: 100vh;
  overflow-y: auto;
  @media screen and (max-width: $breakpoint-extra-big) {
    padding: 0 30px 30px;
    gap: 30px;
  }
  @media screen and (max-width: $breakpoint-extra-m) {
    padding: 0 20px 20px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 10px 10px;
  }
  &__task-annotation {
    font-size: calc(3 * $font-size);
    line-height: 1;
    text-align: center;
    @media screen and (max-width: $breakpoint-extra-big) {
      font-size: calc(2 * $font-size);
    }
    @media screen and (max-width: $breakpoint-extra-m) {
      font-size: calc(1.5 * $font-size);
    }
    @media screen and (max-width: $breakpoint-mobile-big) {
      font-size: calc(1.1 * $font-size);
    }
  }

  &__table {
    width: 100%;
    min-height: 200px;
    background-color: $background-table;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: black;
    font-size: calc(1.5 * $font-size);
    // @media screen and (max-width: $breakpoint-extra-big) {
    //   gap: 10px;
    // }
    // @media screen and (max-width: $breakpoint-tablet) {
    //   min-height: 150px;
    // }
    @media screen and (max-width: $breakpoint-mobile-big) {
      gap: 10px;
      min-height: 150px;
    }
  }

  &__code-block {
    background-color: $dark;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: $breakpoint-mobile) {
      padding: 5px;
    }
  }
}

::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #666262;
  border-radius: 5px;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
