.pickle {
  height: calc(1.5 * $fruit-size);
  width: calc(0.5 * $fruit-size);
  border-radius: calc(0.25 * $fruit-size);
  background-color: green;

  @media screen and (max-width: $breakpoint-mobile-big) {
    height: calc(1.2 * $fruit-size);
    width: calc(0.35 * $fruit-size);
  }
  @media screen and (max-width: $breakpoint-mobile) {
    height: calc(0.9 * $fruit-size);
    width: calc(0.2 * $fruit-size);
  }
}
