.dark{
	--background-main: #080d3e;
	--background-cell-closed: rgb(45, 26, 100);
	--nav-elem-border: rgb(0, 0, 0);
	--header-backgound: rgb(106, 60, 244);
	--text-color: #d7d4d4;
	--background-field:#104059; 
	--button-background: rgb(97, 17, 88);
	--background-cell: #928888;
	--danger_1: rgb(156, 156, 26);
  --danger_2: rgb(165, 109, 5);
  --danger_3: rgb(173, 59, 18);
  --danger_4: rgb(169, 5, 5);
  --danger_5: rgb(127, 11, 11);
  --danger_6: rgb(111, 0, 0);
  --danger_7: rgb(97, 11, 11);
  --danger_8: rgb(66, 8, 8);
}