:root{
	--header-backgound: rgb(159, 136, 231);
  --background-main: #60dff0;
  --background-field:#02066f; 
  --background-cell-closed: rgb(126, 90, 235);
  --nav-elem-border: rgb(243, 10, 10);
  --button-background: rgb(199, 245, 132);
  --text-color: #000;
  --background-cell: #d1d1d1;
  --danger_1: rgb(240, 240, 41);
  --danger_2: orange;
  --danger_3: rgb(244, 75, 14);
  --danger_4: red;
  --danger_5: rgb(184, 15, 15);
  --danger_6: rgb(166, 11, 11);
  --danger_7: rgb(162, 20, 20);
  --danger_8: rgb(129, 21, 21);
  }