.apple {
  width: 70px;
  height: 60px;
  background-color: rgb(220, 53, 27);
  border-radius: 50%;

  @media screen and (max-width: $breakpoint-mobile-big) {
    width: calc(0.8 * $fruit-size);
    height: calc(0.75 * $fruit-size);
  }
  @media screen and (max-width: $breakpoint-mobile-big) {
    width: calc(0.5 * $fruit-size);
    height: calc(0.45 * $fruit-size);
  }

  &_small {
    width: 45px;
    height: 40px;

    @media screen and (max-width: $breakpoint-mobile-big) {
      width: calc(0.5 * $fruit-size);
      height: calc(0.45 * $fruit-size);
    }
    @media screen and (max-width: $breakpoint-mobile) {
      width: calc(0.35 * $fruit-size);
      height: calc(0.3 * $fruit-size);
    }
  }
}
