.bento {
  width: 150px;
  height: 125px;
  background-color: #381306;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5px;
  // @media screen and (max-width: $breakpoint-extra-big) {
  //   width: 100px;
  //   height: 100px;
  // }
  @media screen and (max-width: $breakpoint-mobile-big) {
    width: 115px;
    height: 105px;
  }
}
