.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: $font-size;
  }

  &__link {
    text-decoration: underline;
    color: $font-color-white;
  }
}
