.header {
  padding: 30px 0;

  &__title {
    font-size: $font-size;
    @media screen and (max-width: $breakpoint-extra-m) {
      font-size: calc(0.7 * $font-size);
    }
  }
  @media screen and (max-width: $breakpoint-extra-m) {
    padding: 20px 0;
  }
}
