.info {
  background-color: $dark;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
  &__burger-menu {
    position: absolute;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $dark;
    z-index: 1;
    display: none;

    &_state_active {
      display: flex;
    }
  }

  &__burger-menu-item {
    @include clickable;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    &_current {
      pointer-events: none;
      background-color: $lighter;
    }
  }

  &__burger-menu-item-num {
    font-size: $font-size;
  }

  &__menu-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__burger-menu-item-title {
    font-size: $font-size;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 20px;
    @media screen and (max-width: $breakpoint-extra-big) {
      gap: 5px;
    }
  }

  &__nav-wrapper {
    display: flex;
    gap: 10px;
  }

  &__title {
    font-size: calc(1.5 * $font-size);
    @media ($breakpoint-extra-big) {
      font-size: calc(1.2 * $font-size);
    }
  }

  &__icon {
    opacity: 50%;

    &_size_l {
      transform: scale(2);
      opacity: 50%;
      @media screen and (max-width: $breakpoint-extra-big) {
        transform: scale(1.5);
      }
    }
  }

  &__nav-btn {
    @include clickable;
  }

  &__text {
    font-size: calc(0.9 * $font-size);
  }

  &__reset-btn {
    @include clickable;
    position: absolute;
    bottom: 50px;
    left: 100px;
    right: 100px;
    justify-self: end;
    padding: 10px;
    font-size: $font-size;
    background-color: rgb(105, 198, 167);
    color: $lighter;
    z-index: 3;
    border-radius: 10px;
  }
}
