.menu {
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 20px;
  background-color: $dark;
  z-index: 1;
  position: relative;

  @media screen and (max-width: $breakpoint-extra-m) {
    padding: 20px;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 300px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    gap: 10px;
  }

  &_state_active {
    display: flex;
  }

  ::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #666262;
    border-radius: 5px;
    border: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 10px;
  }

  &__item {
    @include clickable;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    @media screen and (max-width: $breakpoint-tablet) {
      gap: 5px;
      padding: 0;
    }

    &_current {
      pointer-events: none;
      background-color: $lighter;
    }
  }

  &__item-num {
    font-size: $font-size;
    @media screen and (max-width: $breakpoint-extra-big) {
      font-size: calc(0.7 * $font-size);
    }
    @media screen and (max-width: $breakpoint-tablet) {
      font-size: calc(0.5 * $font-size);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item-title {
    font-size: $font-size;
    @media screen and (max-width: $breakpoint-extra-big) {
      font-size: calc(0.7 * $font-size);
    }
    @media screen and (max-width: $breakpoint-tablet) {
      font-size: calc(0.5 * $font-size);
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $breakpoint-extra-big) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
    @media screen and (max-width: $breakpoint-extra-big) {
      width: 100%;
      justify-content: space-between;
      gap: 5px;
    }
    @media screen and (max-width: $breakpoint-extra-m) {
    }
  }

  &__nav-wrapper {
    display: flex;
    gap: 10px;
  }

  &__title {
    font-size: calc(1.5 * $font-size);
    @media screen and (max-width: $breakpoint-extra-big) {
      font-size: $font-size;
    }
  }

  &__icon {
    opacity: 50%;

    &_size_l {
      transform: scale(2);
      opacity: 50%;
      @media screen and (max-width: $breakpoint-extra-big) {
        transform: scale(1.5);
      }
    }
  }

  &__nav-btn {
    @include clickable;
    &_type_menu {
      display: none;
      @media screen and (max-width: $breakpoint-extra-m) {
        display: block;
      }
    }
  }

  &__text {
    font-size: calc(0.9 * $font-size);
  }

  &__reset-btn {
    @include clickable;
    position: absolute;
    bottom: 50px;
    left: 100px;
    right: 100px;
    justify-self: end;
    padding: 10px;
    font-size: $font-size;
    background-color: rgb(105, 198, 167);
    color: $lighter;
    z-index: 3;
    border-radius: 10px;
    @media screen and (max-width: $breakpoint-extra-big) {
      font-size: calc(0.7 * $font-size);
      left: 50px;
      right: 50px;
    }
    @media screen and (max-width: $breakpoint-extra-m) {
      font-size: calc(0.5 * $font-size);
      left: 20px;
      right: 20px;
    }
  }
}
