.orange {
  width: calc(1.2 * $fruit-size);
  height: $fruit-size;
  background-color: orange;
  border-radius: 50%;
  z-index: 2;
  @media screen and (max-width: $breakpoint-extra-big) {
    width: $fruit-size;
    height: calc(0.9 * $fruit-size);
  }
  @media screen and (max-width: $breakpoint-tablet) {
    width: calc(0.8 * $fruit-size);
    height: calc(0.7 * $fruit-size);
  }
  @media screen and (max-width: $breakpoint-mobile-big) {
    width: calc(0.5 * $fruit-size);
    height: calc(0.45 * $fruit-size);
  }

  &_small {
    width: calc(0.8 * $fruit-size);
    height: calc(0.75 * $fruit-size);
    @media screen and (max-width: $breakpoint-extra-big) {
      width: calc(0.6 * $fruit-size);
      height: calc(0.55 * $fruit-size);
    }
    @media screen and (max-width: $breakpoint-tablet) {
      width: calc(0.45 * $fruit-size);
      height: calc(0.4 * $fruit-size);
    }
    @media screen and (max-width: $breakpoint-mobile-big) {
      width: calc(0.35 * $fruit-size);
      height: calc(0.3 * $fruit-size);
    }
  }
}
