.orange {
  width: calc(1.2 * $fruit-size);
  height: $fruit-size;
  background-color: orange;
  border-radius: 50%;
  z-index: 2;

  &_small {
    width: calc(0.8 * $fruit-size);
    height: calc(0.75 * $fruit-size);
  }
}
