.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 4;

  &_state_active {
    display: flex;
  }

  &__content {
    min-width: 400px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    padding: 30px;
    border-radius: 15px;
    justify-content: space-between;
  }
  &__msg {
    font-size: calc(1.5 * $font-size);
    text-align: center;
    color: black;
  }
  &__btn {
    @include clickable;
    width: 100%;
    padding: 20px;
    font-size: $font-size;
    text-align: center;
    background-color: aquamarine;
    border-radius: 5px;
  }
}
